<section class="content-header">
    <h1>
        Autores
        <small>operações de autores</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0)" routerLink="/dashboard"><i class="fa fa-dashboard"></i> Painel de controle </a>
        </li>
        <li><a href="javascript:void(0)" routerLink="/publishing">Editoras</a></li>
        <li class="active"> {{!publishing.id ? 'Novo autor' : 'Visualizar autor'}}</li>
    </ol>
</section>

<section class="content">

    <div class="box box-warning">

        <app-box-header-page [title]="!publishing.id ? 'Cadastrar novo editora' : 'Visualizar editora'"></app-box-header-page>

        <div class="box-body">

            <div class="btn-group">
                <button class="btn bg-purple" routerLink="/publishing/save"><i class="fa fa-fw fa-file"></i> Novo</button>
                <button class="btn bg-purple" [routerLink]="['/publishing', publishing.id, 'edit']" *ngIf="publishing.id"><i class="fa fa-fw fa-pencil"></i> Editar </button>
                <button class="btn btn-danger" routerLink="/publishing"><i class="fa fa-fw fa-reply"></i> Voltar</button>
            </div>

            <div class="clearfix"></div>
            <br>

            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>Coluna</th>
                    <th>Dado</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>ID</th>
                    <td> {{publishing.id}}</td>
                </tr>
                <tr>
                    <th>Editora</th>
                    <td> {{publishing.name}}</td>
                </tr>
                <tr>
                    <th> E-mail  </th>
                    <td> {{publishing.email }} </td>
                </tr>
                <tr>
                    <th> Site </th>
                    <td> {{publishing.website }} </td>
                </tr>
                <tr>
                    <th> Endereço  </th>
                    <td> {{publishing.address }} </td>
                </tr>
                <tr>
                    <th> Data de cadastro </th>
                    <td> {{publishing.created_at | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                </tr>
                <tr>
                    <th> Situação </th>
                    <td> {{publishing.status == 1 ? 'Habilitado' : 'Desabilitado' }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</section>