<section class="content-header">
    <h1>
        Categorias
        <small>operações com categorias</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0)" routerLink="/dashboard"><i class="fa fa-dashboard"></i> Painel de controle </a>
        </li>
        <li><a href="javascript:void(0)" routerLink="/category">Lista de categorias</a></li>
        <li class="active">Categoria</li>
    </ol>
</section>

<section class="content">
    <div class="box">

        <app-box-header-page [title]="'Lista de categorias cadastradas'"></app-box-header-page>

        <div class="box-body">

            <div class="btn-group">
                <button class="btn bg-purple" routerLink="/category/save"><i class="fa fa-fw fa-file"></i> Novo </button>
            </div>

            <div class="clearfix"></div>
            <br>

            <div class="row" *ngIf="messageAlert">
                <app-message-alert [color]="colorAlert" [closeAlert]="true" [timeout]="40000">{{messageAlert}}
                </app-message-alert>
            </div>

            <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped table-solteti table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Categoria</th>
                        <th>Data de cadastro</th>
                        <th>Status</th>
                        <th class="th-action-solteti">Ações</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let category of categories">

                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.created_at.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{category.status == 1 ? 'Habilitado' : 'Desabilitado'}}</td>
                    <td>
                        <app-btn-action-table [id]="category.id" routeLinkPar="/category">
                            <a href="javascript:void(0)" class="btn bg-navy  btn-xs" (click)="openModal(category)"> <i class="fa fa-fw fa-trash-o"></i> Apagar</a>
                        </app-btn-action-table>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</section>


<app-modal>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Mensagem de confirmação</h4>
    </div>
    <div class="modal-body" *ngIf="currentModelToDelete">
        <p>Deseja excluir este registro <strong>{{currentModelToDelete.name}}</strong> ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-danger" (click)="destroy()">Exluir</button>
    </div>
</app-modal>